.footer {
    max-width: 100%;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg,#cce6ff, #1a90ff);
    height: 100%;
    padding: 20px 0px;
    margin-top: 20px;
}